<!doctype html>
<html>
   <body>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="autumn_season.mp4">
            <input type="image" src="/static/autumn_season.png" style="float:left;width:457px;height:457px;">
        </form>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="city_timelapse.mp4">
            <input type="image" src="/static/city_timelapse.png" style="float:left;width:457px;height:457px;">
        </form>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="dog_on_beach.mp4">
            <input type="image" src="/static/dog_on_beach.png" style="float:left;width:457px;height:457px;">
        </form>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="fish_anemonae.mp4">
            <input type="image" src="/static/fish_anemonae.png" style="float:left;width:457px;height:457px;">
        </form>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="foggy_coast.mp4">
            <input type="image" src="/static/foggy_coast.png" style="float:left;width:457px;height:457px;">
        </form>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="frog_on_lily.mp4">
            <input type="image" src="/static/frog_on_lily.png" style="float:left;width:457px;height:457px;">
        </form>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="octopus.mp4">
            <input type="image" src="/static/octopus.png" style="float:left;width:457px;height:457px;">
        </form>
        <form method='POST' action='/showvideo'>
            <input type="hidden" name="title" value="seal_on_beach.mp4">
            <input type="image" src="/static/seal_on_beach.png" style="float:left;width:457px;height:457px;">
        </form>

<!-- 
        <form method='POST' action='/showvideo'>
            <input type="image" name="title" value="seal_on_beach.mp4" src="/static/seal_on_beach.png" style="width:457px;height:457px;" type='SUBMIT' value=''>
        </form>  -->


    </body>
</html>